<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>draw_sketch</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <a href="/sign_in">ログイン</a>
  <a href="/sign_up">新規登録</a><br>
  <h2>未ログイン</h2>
</body>
<script type="text/javascript" src="/assets/js/processing.js"></script>
</html>
