<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>draw_sketch</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
	<div class="top_box_d f_left">
		<div class="top_bt"></div>
	</div>
	<div class="top_box_w f_right">
		<div class="top_br"></div>
	</div>
	<div class="top_box_w f_left">
		<div class="top_bl"></div>
	</div>
	<div class="top_box_main f_left">
		<div class="top_box">
			<h1 class="top_text">DRAWING</h1>
			<a class="top_signin_btn top_btn font_color" href="/sign_in">ログイン</a>
			<a class="top_signup_btn top_btn font_color" href="/sign_up">新規登録</a>
		</div>
	</div>
	<div class="top_box_d f_left">
		<div class="top_bb"></div>
	</div>
</body>
<script type="text/javascript" src="/assets/js/processing.js"></script>
</html>
