@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Nunito);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }
  html body {
    height: 100%; }

canvas {
  border: 1px solid #000;
  cursor: crosshair;}

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.inline {
  display: inline-block; }

.f_left {
  float: left; }

.f_right {
  float: right; }

.mypage {
  border-top: 3px solid #888; }

.button {
  border: none;
  background-color: #fff;
  cursor: pointer; }

.font_color {
  color: #333; }
  .font_color:link {
    color: #333; }
  .font_color:visited {
    color: #333; }

.font_color_sub {
  color: #555; }
  .font_color_sub:link {
    color: #555; }
  .font_color_sub:visited {
    color: #555; }

.border_color_bold {
  border-color: #888; }

.border_color {
  border-color: #333; }

.border_color_mypage {
  border-top-color: #888;
  border-bottom-color: #333; }

.bg_color {
  background-color: #fefefe; }

.bg_color_main_box:hover {
  color: #fefefe;
  background-color: #333; }

.bg_color_box {
  background-color: #333; }

.body_width {
  width: 1116px;
  margin: 0 auto; }
  @media screen and (max-width: 1116px) {
    .body_width {
      width: 100%; } }

.header {
  z-index: 5;
  margin: 0 auto; }
  @media screen and (max-width: 1116px) {
    .header {
      margin: 0 20px; } }
  .header .user_header {
    position: relative; }
    .header .user_header .logo {
      margin: 35px 0;
      font-family: 'Montserrat'; }
    .header .user_header .draw_space_btn {
      position: relative;
      width: 250px;
      height: 70px;
      margin: 20px 0 50px 23%;
      padding-top: 18px;
      text-align: center;
      cursor: pointer;
      font-family: 'Nunito';
      font-size: 25px;
      transition: all 0.8s ease; }
      .header .user_header .draw_space_btn .bd_box {
        position: absolute;
        transition: all 0.4s ease 0.4s; }
      .header .user_header .draw_space_btn .bd_box2 {
        position: absolute;
        transition: all 0.4s ease; }
      .header .user_header .draw_space_btn .bdT, .header .user_header .draw_space_btn .bdT2 {
        width: 0;
        height: 1px;
        top: 0;
        left: 0; }
      .header .user_header .draw_space_btn .bdR, .header .user_header .draw_space_btn .bdR2 {
        height: 0;
        width: 1px;
        top: 0;
        right: 0; }
      .header .user_header .draw_space_btn .bdB, .header .user_header .draw_space_btn .bdB2 {
        width: 0;
        height: 1px;
        right: 0;
        bottom: 0; }
      .header .user_header .draw_space_btn .bdL, .header .user_header .draw_space_btn .bdL2 {
        height: 0;
        width: 1px;
        bottom: 0;
        left: 0; }
      .header .user_header .draw_space_btn:hover .bd_box {
        transition: all 0.4s ease; }
      .header .user_header .draw_space_btn:hover .bd_box2 {
        transition: all 0.4s ease 0.4s; }
      .header .user_header .draw_space_btn:hover .bdT, .header .user_header .draw_space_btn:hover .bdT2 {
        width: 100%;
        height: 1px; }
      .header .user_header .draw_space_btn:hover .bdR, .header .user_header .draw_space_btn:hover .bdR2 {
        height: 100%;
        width: 1px; }
      .header .user_header .draw_space_btn:hover .bdB, .header .user_header .draw_space_btn:hover .bdB2 {
        width: 100%;
        height: 1px; }
      .header .user_header .draw_space_btn:hover .bdL, .header .user_header .draw_space_btn:hover .bdL2 {
        height: 100%;
        width: 1px; }
    .header .user_header .account {
      width: 80px;
      height: 32px;
      margin: 40px 0 30px 0;
      font-family: YuGothic;
      text-align: center;
      overflow: hidden;
      transition: all 0.8s ease; }
      .header .user_header .account:hover {
        width: 200px; }
      .header .user_header .account .account_name {
        padding-left: 10px;
        border-left-width: 3px;
        border-left-style: solid; }
      .header .user_header .account .sign_out {
        margin-left: 20px; }
  .header .nav {
    margin: 0 auto;
    width: 462px;
    font-family: YuGothic; }
    .header .nav .nav_box {
      height: 48px;
      margin-right: 50px;
      padding: 3px 10px;
      text-align: center;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      overflow: hidden;
      cursor: pointer;}
      .header .nav .nav_box .nav_font {
        font-size: 20px;
        cursor: pointer; }
    .header .nav .nav_contribution {
      transition: all 0.5s ease; }
      .header .nav .nav_contribution:hover {
        height: 112px; }
      .header .nav .nav_contribution .nav_contribution_child:hover {
        font-weight: bold; }
    .header .nav .nav_color {
      margin-right: 0;
      transition: all 1s ease; }
      .header .nav .nav_color:hover {
        height: 240px; }
      .header .nav .nav_color .nav_color_child {
        cursor: pointer; }
        .header .nav .nav_color .nav_color_child:hover {
          font-weight: bold; }
      .header .nav .nav_color .red {
        color: red; }
      .header .nav .nav_color .green {
        color: green; }
      .header .nav .nav_color .blue {
        color: blue; }
      .header .nav .nav_color .yellow {
        color: yellow; }
      .header .nav .nav_color .purple {
        color: purple; }
      .header .nav .nav_color .monochrome {
        color: black; }

.draw_box {
  width: 480px;
  margin: 80px 10px;
  position: relative; }
  .draw_box .draw_time {
    position: absolute;
    right: 30px;
    font-size: 13px; }
  .draw_box .draw_img_bg {
    width: 100%; }
  .draw_box .draw_title {
    position: absolute;
    top: 30px;
    left: 80px;
    font-size: 22px;
    font-weight: bold; }
  .draw_box .count_good {
    position: absolute;
    top: 38px;
    right: 50px; }
  .draw_box .draw_img {
    width: 65%;
    position: absolute;
    top: 70px;
    left: 100px; }
  .draw_box .btn_good {
    position: absolute;
    left: 200px;
    bottom: 50px;
    width: 30px;
    height: 30px;
    background-image: url("/assets/img/good.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.1s linear; }
    .draw_box .btn_good:hover {
      transform: scale(1.1); }
  .draw_box .btn_good2 {
    position: absolute;
    left: 240px;
    bottom: 50px;
    width: 30px;
    height: 30px;
    background-image: url("/assets/img/good.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.1s linear; }
    .draw_box .btn_good2:hover {
      transform: scale(1.1); }
  .draw_box .btn_delete {
    position: absolute;
    left: 280px;
    bottom: 50px;
    width: 30px;
    height: 30px;
    background-image: url("/assets/img/delete.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.1s linear; }
    .draw_box .btn_delete:hover {
      transform: scale(1.1); }
  .draw_box .draw_name {
    position: absolute;
    right: 40px;
    bottom: 25px;
    font-family: YuGothic; }
  @media screen and (max-width: 1116px) {
    .draw_box {
      float: none;
      margin: 80px auto; } }


  /*	pictureDraw画面	--------------------------------------------------------------------------------*/

  
  .draw_window {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8); }

.draw_form_main .draw_form {
  display: none;
  margin-top: 100px;
  margin-left: 5%;
  z-index: 5;
  position: absolute;
  top: 0;
  color: #fff; }

.helper {
  margin-top: 50px;
  margin-right: 50px; }
  .helper .draw_help {
    height: 70px;
    margin-bottom: 20px;
    font-size: 25px;
    border-bottom: 1px dashed #fff; }
    .helper .draw_help .keybord_img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      background-image: url("/assets/img/keybord.png");
      background-size: 100%;
      background-repeat: no-repeat; }
    .helper .draw_help .help_black {
      color: #ccc; }
    .helper .draw_help .help_red {
      color: #f00; }
    .helper .draw_help .help_green {
      color: #0f0; }
    .helper .draw_help .help_blue {
      color: #00f; }
    .helper .draw_help .keybord_mouse {
      margin-left: 10px; }
    .helper .draw_help .keybord_red {
      background-position-y: -100px; }
    .helper .draw_help .keybord_green {
      background-position-y: -150px; }
    .helper .draw_help .keybord_blue {
      background-position-y: -200px; }
    .helper .draw_help .keybord_delete {
      background-position-y: -50px; }

.draw_area {
  text-align: center; }
  .draw_area .draw_title {
    margin-bottom: 20px;
    font-size: 20px; }
    .draw_area .draw_title .draw_text_area {
      font-size: 20px;
      padding: 5px; }
  .draw_area .draw_btn {
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #333;
    transition: all 0.2s ease; }
    .draw_area .draw_btn:hover {
      transform: scale(1.1);
      background-color: #fff;
      border: 1px solid #fff; }

@media screen and (max-width: 1116px) {
  .draw_form_main {
    width: 550px;
    position: static; }
    .draw_form_main .draw_form {
      position: absolute;
      top: 0;
      margin-left: 0;
      margin-top: 50px; }
      .draw_form_main .draw_form .f_left {
        float: none; }
      .draw_form_main .draw_form .helper {
        width: 100%;
        margin-top: 0;
        margin-bottom: 50px; } }
/*---サインイン-------------------------------------------------------------------------*/
.text_box {
  width: 50%;
  height: 35px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 15px;
  border: 1px inset 0.5px #333;
  border-radius: 5px; }

.title {
  margin: 30px 0;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333; }
  @media screen and (max-width: 1116px) {
    .title {
      margin: 30px 30px; } }

.signin {
  width: 50%;
  text-align: center;
  margin: 200px auto 50px;
  padding: 40px;
  border: 1px solid #333;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); }
  .signin .signin_text_name {
    font-size: 30px;
    font-family: 'Montserrat';
    margin-bottom: 30px; }
  .signin .signin_btn {
    font-size: 15px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #333;
    transition: all 0.2s ease;
    cursor: pointer;}
    .signin .signin_btn:hover {
      transform: scale(1.2);
      background-color: rgba(51, 51, 51, 0.1);
      border: 1px solid #fff; }

/*---topページ-------------------------------------------------------------------------*/
.top_box_d {
  width: 80%;
  height: 30%;
  position: relative;
  /*background-color: rgba(51, 51, 51, 0.1);*/
  animation: top_bg_d 8s ease-in-out infinite; }
@keyframes top_bg_d {
  0% {
    background-color: hsla(0, 100%, 50%, 0.2); }
  25% {
    background-color: hsla(90, 100%, 50%, 0.2); }
  50% {
    background-color: hsla(180, 100%, 50%, 0.2); }
  75% {
    background-color: hsla(270, 100%, 50%, 0.2); }
  100% {
    background-color: hsla(359, 100%, 50%, 0.2); } }
  .top_box_d .top_bt, .top_box_d .top_bb {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #fff; }
  .top_box_d .top_bt {
    bottom: 0;
    animation: top_bt 4s ease infinite alternate; }
  .top_box_d .top_bb {
    bottom: 100%;
    animation: top_bb 4s ease infinite alternate; }
@keyframes top_bt {
  0% {
    bottom: 100%; }
  30% {
    bottom: 0; } }
@keyframes top_bb {
  0% {
    bottom: 0; }
  45% {
    bottom: 0; }
  80% {
    bottom: 100%; } }
.top_box_w {
  width: 20%;
  height: 70%;
  position: relative;
  /*background-color: rgba(51, 51, 51, 0.1);*/
  animation: top_bg_w 8s ease-in-out infinite; }
@keyframes top_bg_w {
  0% {
    background-color: hsla(0, 100%, 50%, 0.2); }
  25% {
    background-color: hsla(90, 100%, 50%, 0.2); }
  50% {
    background-color: hsla(180, 100%, 50%, 0.2); }
  75% {
    background-color: hsla(270, 100%, 50%, 0.2); }
  100% {
    background-color: hsla(359, 100%, 50%, 0.2); } }
  .top_box_w .top_br, .top_box_w .top_bl {
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #fff; }
  .top_box_w .top_br {
    right: 100%;
    animation: top_br 4s ease infinite alternate; }
  .top_box_w .top_bl {
    right: 0;
    animation: top_bl 4s ease infinite alternate; }
@keyframes top_br {
  0% {
    right: 0; }
  20% {
    right: 0; }
  55% {
    right: 100%; } }
@keyframes top_bl {
  0% {
    right: 100%; }
  70% {
    right: 100%; }
  100% {
    right: 0; } }
.top_box_main {
  width: 60%;
  height: 40%;
  position: relative; }
  .top_box_main .top_box {
    width: 60%;
    height: 285px;
    padding: 50px;
    position: relative;
    text-align: center;
    margin: 0 auto; }
    .top_box_main .top_box .top_text {
      margin-bottom: 50px; }
    .top_box_main .top_box .top_btn {
      margin: 20px;
      font-size: 15px;
      padding: 20px 13%;
      border: 1px solid #333;
      position: absolute;
      transition: all 0.2s ease; }
      .top_box_main .top_box .top_btn:hover {
        transform: scale(1.1, 1.1);
        background-color: rgba(51, 51, 51, 0.1);
        border: none; }
    .top_box_main .top_box .top_signin_btn {
      left: 5%; }
    .top_box_main .top_box .top_signup_btn {
      right: 5%; }



/*---footer-------------------------------------------------------------------------*/
.footer {
  text-align: center;
  font-size: 13px;
}

.top_footer {
  text-align: center;
  margin-top: 70px;
  font-size: 13px;
}

.view_footer {
  text-align: center;
  margin-bottom: 30px;
  font-size: 13px;
}

/*# sourceMappingURL=main2.css.map */
